GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin123
GF_USERS_ALLOW_SIGN_UP=false
GF_SMTP_ENABLED=true
GF_SMTP_SKIP_VERIFY=true
GF_SMTP_HOST=smtp.aa.xxx.com:25
GF_SMTP_USER=gabe@aa.xxx.com
GF_SMTP_PASSWORD=passwd
GF_SMTP_FROM_ADDRESS=gabe@aa.xxx.com
GF_SERVER_DOMAIN=grafana.server.name
GF_SERVER_ROOT_URL=http://grafana.server.name
GF_SERVER_PORT=80
